/********w*************
    
Project 4
    Name: Zander Santos
    Date: April. 18, 2024
    Description: About Page Styling.
    
**********************/

*{
    margin: 0;
    box-sizing: border-box;

}
html{
    background-image: url('https://wallpaperaccess.com/full/8201170.jpg');
    
    background-repeat: no-repeat;
    margin-right:0px;
}

html, body{
    width:100%;
    height:100%;
    margin: 0;
    padding: 0;
    overflow: hidden;  
}

.headernav a,.headernav h1,.footerlinks a,.mainsectionheaders h1, .mainsectionheaders h2, .mainsectionheaders h3, .mainsectionheaders h4,.article, .mainsectiontitle, .mainsectionheaders{
    color:black;
    font-family: "Jersey 15", sans-serif; 
}

.headernav{
    display:flex;    
    justify-content: space-around;
    align-items:center;
    background-color: rgba(255,255,255,0.7);
    padding: 30px 30px 20px 30px;

}

.headernav h1{
    display: flex;
    font-size:28px;
    font-weight: lighter;
    margin: 0;
}

.headernav ul{
    display: flex;
    font-size: 18px;
}

.headernav li{
    list-style: none;
    padding:10px;
    margin: 0.1em;
}

.headernav a{
    list-style: none;
    text-decoration: none;
    font-size: 28px;
    padding: 10px; 
}

article{
    display:flex;
    flex-direction: column;
    align-items: center;
}

.mainsectiontitle{
    font-size: 40px;  
    text-align: center;
    font-weight:lighter;
    margin-top: 20px;
}

.mainsectionheaders{
    font-size: 28px;
    font-weight:lighter;
    display:flex;
    width:100%;
    justify-content: space-between;
}

.left{
    width:50%;
    display:flex;
    flex-direction: column;
    align-items: center;
}

.right{
    width:50%;
    padding-left:50px;
    padding-right:50px;
    display:flex;
    flex-direction: column;
    align-items: center;
}

.maincontent{
    display:flex;
    width:100%;
    padding:20px;
}

.skills{
    color:black;
    font-family: "Jersey 15", sans-serif;
    font-size:50px;
    padding-top: 10px;
    padding-right: 10px;
}

.skillscontent{
    display:none;
    flex-direction: column;
    padding: 20px 0px 0px 0px;
}

.skills p + p{
    margin-top:-10px;
}

.maincontent .skills p:nth-child(even)
{
    margin-left:170px;
    margin-bottom:20px;
    width:120px;
}

.maincontent .skills p:nth-child(odd)
{
    margin-top:10px;
    margin-right:170px;
    width:120px;
 
}

.imgs{
    display:flex;
    flex-direction: column;
}

.maincontent .left .imgs img{
    transition: width 0.3s, height 0.3s;
    background-color: rgba(255,255,255,0.7);
}

.maincontent .left:hover img{
    display:none; 
}

.maincontent .left:hover p{
    display:block;
}

.maincontent .left:hover{
    background-color: rgba(255,255,255,0.7);
}

.imgs img + img{
    margin-top:-90px;
}

.maincontent .imgs img:nth-child(even)
{
    margin-left:170px;
    margin-bottom:0px;
    width:120px;
}

.maincontent .imgs img:nth-child(odd)
{
    margin-top:10px;
    margin-right:170px;
    width:120px;
}

.maincontent .right p{
    padding: 20px;
    border-style:solid;
    background-color: rgba(255,255,255,0.7);
 
}
.para{

    font-family: "Jersey 25", sans-serif;
    font-weight: 400;
    font-style: normal; 
    font-size: 20px;
    line-height: 24px;
 
    
}


footer{
    position: fixed;
    bottom:0;
    width:100%;

    background-color: rgba(255,255,255,0.7);

    
}
.footerlinks{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    
    padding: 5px;
}
.footerlinks ul{
    display:flex;
    
}
.footerlinks li{
    list-style: none;
    padding:10px 10px 0px 10px;

}
.footerlinks a{
    text-decoration: none;
    font-size: 20px;

}


@media(min-width:320px){
    @media(max-width:100%)
    {
        html,.headernav,.mainsectionheaders,.mainsectionhome,.maincontent .right .p
        {
            display:flex;
            align-items: stretch;
            max-width:100%;
            max-height:100%
        }
        
    }   
}

